footer{
    visibility:hidden
}

div.block-container.css-18e3th9.egzxvld2{
    top:-4%;
}

span.css-10trblm.e16nr0p30{
    font-size: 50px;
    top:-50%;    
}

h1{
	background-color: rgba(81, 45, 109, 1);
	color: rgba(255, 255, 255,1);  
	text-align:center;
	
}

label.css-81oif8.effi0qh3{
   background-color: rgba(182, 166, 197, 1);
   font-size: 16px; 
   padding: 10px;
}

section.main.css-k1vhr4.egzxvld3{
   	height:1450px;
}